.Docs {
  min-height: 100vh;
  width: 100%;

  .logo {
    height: 70px;
  }

  .Docs-header {
    padding: 20px;
    background-color: #222;
    background-position-y: 90%;
    background-size: cover;
    min-height: 300px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    position: relative;

    &--content {
      z-index: 3;
      text-align: center;

      h1 {
        margin-bottom: 8px;
        font-size: 52px;
        // margin-top: 8px;
      }
      h3 {
        margin-top: 0px;
        font-weight: 200;
        font-style: italic;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 0; bottom: 0; right: 0; left: 0;
      background-color: rgba(0,0,0,0.4);
    }
  }
  .Docs-main {
    display: flex;
    flex-direction: row;

    .Docs-sidemenu {
      width: 220px;
      padding: 12px 20px;

      h3 {
        margin-top: 0;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        a {
          color: #333;
          font-size: 20px;
          li {
            margin-bottom: 12px;
          }
        }
      }
    }

    .Docs-content {
      flex: 1;
      // height: 100vh;
      // overflow: scroll;
      padding: 16px;

      section {
        h1 {
          margin-top: 12px;
        }
        .section-content {
          color: lighten(#282c34, 50%);
          display: flex;
          flex-direction: column;

          .code-example {
            max-width: 800px;
            font-size: 14px;
            pre {
              margin: 0px;
              code {
                border-radius: 0px;
                // border-top-left-radius: 0px;
              }
            }
          }
          .result-example {
            margin-top: 16px;
            padding: 12px;
            border: 5px solid #282c34;
            background-color: #282c34;
            border-bottom: 1px solid lighten(#282c34, 15%);
            max-width: 800px;
            position: relative;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 3px;
            display: flex;
            align-items: center;

            input {
              margin-left: 8px; 
            }

            &:before {
              content: "Results";
              position: absolute;
              height: 25px;
              top: -30px;
              left: -5px;
              background-color: #282c34;
              color: lighten(#282c34, 60%);
              font-size: 14px;
              display: flex;
              padding: 2px 12px 0px 12px;
              justify-content: center;
              align-items: center;
              border-top-right-radius: 3px;
              border-top-left-radius: 3px;
            }

            button {
              background-color: lighten(#282c34, 20%);
              border-width: 0px;
              color: #fff;
            }
          }
        }
      }
    }
  }
  footer {
    height: 200px;
    width: 100%;
    background-color: darken(#124c59, 10%);
    color: #124c59;
  }
}
