body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
}

p {
  line-height: 1.5;
  max-width: 800px;
}

.code-highlight {
  max-width: 800px;
  font-size: 14px;
}

hr {
  height: 1px;
  background-color: #ddd;
  border: none;
  width: 100%;
  margin: 42px 0px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 38px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 22px;
}

button {
  padding: 8px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

code {
  padding: 12px !important;
  border-radius: 3px;
}
